@import url("/src/assets/css/header.css");
@import url("/src/assets/css/services.css");
@import url("/src/assets/css/work.css");
@import url("/src/assets/css/testimonial.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --websiteColor: #103a6dde;
  --textColor: #0f59b4de;
  --whiteColor: #fff;
  --workColor: #a6e8ea;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 756px) {
  .header-container {
    width: 100%;
  }

  .mobile {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .col-4 {
    width: 100%;
  }
  .col-work {
    width: 100%;
    height: 100%;
  }

  .navigation {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--websiteColor);
    width: 250px;
    transform: translateX(250px);
    transition: all 0.5s;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }

  .lines {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 25px;
    background-color: var(--websiteColor);
  }

  #openSidebar:checked ~ .navigation {
    transform: translateX(0px);
  }
}
